#fmcr-forms {
    display: flex;
    gap: 50px;
    color: #2c3338;
    margin-top: 50px;
}

#fmcr-list-forms {
    width: 40%;
}

#fmcr-list-forms > div {
    display: flex;
    justify-content: space-between;
    border: 1px solid #c3c4c7;
    border-bottom: none;
    background-color: white;
    font-weight: 600;
    background-color: rgb(231, 231, 231);
}

#fmcr-list-forms #fmcr-newForm {
    border: 1px solid rgb(121, 121, 241);
    background-color: rgb(147, 147, 255);
    color: white;
    border-radius:10px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.1s;
}

#fmcr-list-forms #fmcr-newForm:hover {
    background-color: rgb(106, 106, 221);
}

#fmcr-list-forms tbody > tr {
    cursor: pointer;
    transition: all .1s;
}

#fmcr-list-forms tbody > tr:hover {
    background-color: rgb(231, 231, 231);
}

#fmcr-list-forms tbody > tr.fmcr-selected {
    background-color: rgba(0, 0, 255, 0.192);
}

#fmcr-list-forms .delete {
    width: 1em;
    font-weight: 700;
    user-select: none;
}

#fmcr-list-forms .delete:hover{
    color: red;
    font-weight: 800;
}

#fmcr-list-forms tr:has(.delete:hover) {
    background-color: rgba(255, 0, 0, 0.322);
}

#fmcr-entry {
    border: 1px solid #c3c4c7;
    background-color: white;
    width: 60%;
}

#fmcr-entry > h1 {
    border-bottom: 1px solid #c3c4c7;
    font-weight: 600;
    background-color: rgb(231, 231, 231);
}

#fmcr-entry-body {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
}

#fmcr-entry-body h2{
    margin: 0px;
}