@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: rgb(224, 224, 224);
    background-size: 40px 40px;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#header {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 10px;
    bottom: 0px;
    left: 10px;
    z-index: 2;
    pointer-events: none;
}

#navbar {
    display: flex;
    border-radius: 2px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.185);
    width: fit-content;
    overflow: hidden;
    pointer-events: auto;
}

#navbar > button {
    border: none;
    padding: 8px;
    background-color: rgb(173, 173, 173);
    color: white;
    font-size: 1.4em;
    transition: background-color 0.1s;
    cursor: pointer;
    border-left: 1px solid rgb(167, 167, 167);
}

#navbar > button:hover {
    background-color: rgb(155, 155, 155);
}

#navbar > button.selected {
    background-color: rgb(153, 153, 153);
}

#view {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 100%;
    background-color: rgb(248, 248, 248);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.185);
    border-radius: 3px;
    overflow: hidden;
    margin: 5px 0px;
    pointer-events: auto;
}

#view>div:not(#content) {
    display: flex;
    width: 100%;
    background-color: rgb(201, 201, 201);
    gap: 2px;
}

#view>div > button {
    border: none;
    background-color: white;
    padding: 15px;
    font-size: 1.2em;
    width: 100%;
    color: rgb(201, 201, 201);
    border-radius: 0px 0px 5px 5px;
    border-bottom: 2px solid rgb(201, 201, 201);
    cursor: pointer;
}

#view>div > button.selected {
    border: none;
    border-radius: 0px;
    color: black;
    background-color: rgb(248, 248, 248);
}

#view>div > button:hover {
    color: black;
}

#view>#content{
    height: 100%;
    overflow: auto;
}

#addField {
    position:absolute;
    top: 70px;
    left: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#addField > button {
    font-size: 1.5em;
    border: none;
    width: 140px;
    background-color: rgb(124, 124, 255);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.1s;
}

#addField > button:hover {
    background-color: rgb(115, 115, 240);
}

#menu {
    position: absolute;
    width: 250px;
    height: 100%;
    top: 0px;
    right: 0px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.329);
    z-index: 2;
    overflow-y: auto;
}

#menu .title {
    position: relative;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0px 5px;
    background-color: rgb(233, 233, 233);
    transition: background-color 0.1s;
    cursor: pointer;
}

#menu .title:hover {
    background-color: rgb(223, 223, 223);
}

#menu .title::after {
    content: "▲";
    position: absolute;
    top: 15%;
    color: rgb(196, 196, 196);
    right: 10px;
    font-size: 1.5em;
    font-weight: 400;
    pointer-events: none;
    transition: rotate 0.2s;
}

#menu .title.on::after {
    rotate: 180deg;
}

#menu .title > p {
    font-size: 1.4em;
}

#menu .title > div {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}

#menu .title > div > span {
    color: gray;
}

#menu .title > div > span:hover {
    color: black;
}

#menu .delete {
    position: absolute;
    right: 40px;
    font-weight: 500;
    color: rgb(255, 72, 72);
    transition: color 0.1s, scale 0.1s;
}

#menu .delete:hover {
    color: red;
    scale: 1.05;
}

#menu .content {
    padding: 0px 5px;
    background-color: rgb(243, 243, 243);
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 2%;
    row-gap: 3px;
    overflow-y: hidden;
    max-height: 300px;
    transition: max-height 0.2s;
}

#menu .content > div {
    display: flex;
    flex-direction: column;
}

#menu .content > div:not(.half) {
    width: 100%;
}

.half {
    width: 48%;
}


#menu .content label {
    color: grey;
}

#menu .content input {
    width: calc(100% - 8px);
    font-size: 1.3em;
}

#menu .content select {
    width: 100%;
    font-size: 1.3em;
    padding: 1px 2px 2px 2px;
}

#menu .content input[type=color] {
    width: 100%;
}

#menu .hide {
    max-height: 0px;
}